:root {
    --primary-color: #00b98e;
    --primary-dark-color: #02ab83;
    --primary-light-color: #02ab83;
    --accent-color: #0e2e50;

    --pastello: #EFFDF5;
    --neutral: #666565;

    --btn-carousel-size: 48px;
}

body {
    background-color: var(--pastello);
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-sell {
    background-color: rgb(220, 53, 69);
}

.bg-search {
    background-color: var(--primary-color);
}

.btn-primary {
    border: none;
    background-color: var(--primary-color) !important;
}




.category-card {
    border-radius: 12px;
    padding: 12px;
    background-color: var(--pastello);
}

.category-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px dashed var(--primary-color);
    border-radius: 12px;
    background-color: white;
}

.category-body > p {
    color: var(--primary-color);
}

.rounded-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 24px 0;
    border: 1px dashed var(--primary-color);
    border-radius: 50%;
    
    width: 64px;
    height: 64px;

    color: var(--primary-color);
}

.category-body:hover {
    background-color: var(--primary-color);
}

.category-body:hover > h3, .category-body:hover > p {
    color: white;
}

.category-body:hover > .rounded-icon-container {
    background-color: white;
}



