:root {
    --primary-color: #00b98e;
    --primary-dark-color: #02ab83;
    --primary-light-color: #02ab83;
    --accent-color: #0e2e50;

    --white: #EFFDF5;
    --neutral: #666565;

    --btn-carousel-size: 48px;
}